
@{
    ViewBag.Title = "Contribua";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4 p-4 shadow-lg">
            <div style="text-align: center">
                <h3>Contribua e ganhe pontos!</h3>
                <p>A cada Clínica cadastrada e <strong>aceita</strong> pelo adminstrador você ganhará de XX até XXX pontos!</p>
                <p>Avaliando uma clínica você também ganhará 20 pontos!</p>
                <p>Vai ficar de fora dessa??</p>
                <a href="~/Contribua/CadastrarClinica" class="btn btn-outline-primary">Cadastre uma Clínica!</a>
            </div>
  
        </div>
    </div>
</div>