@model List<ListMed.Models.Clinica>
@{
    ViewBag.Title = "Index";
}


<nav class="navbar navbar-expand-md bg-light navbar-light border-bottom shadow-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav flex-fill">
            <li class="nav-item lifiltro">
                <div class="lipreco">
                    <label>Preço</label><label id="demo" style="float: right;">R$</label><br />
                    <input type="range" min="1" max="500" value="500" step="0.01" style="width: 20em;" class="slider" id="myRange">
                </div>
            </li>
            <li class="nav-item lifiltro" style="padding-top: 0.5rem;">

                @Html.DropDownList("Id", ViewBag.servicos as SelectList, "Selecione Serviço", new { @class = "form-control slcServicos" })
            </li>
            <li class="nav-item lifiltro" style="padding-top: 0.5rem;">

                <button class="btn btn-secondary nav-item" data-toggle="modal" data-target="#modalEspecialidades">Especialidades</button>

            </li>
        </ul>

    </div>
</nav>
<div class="row">
    <div class="col-8">
        lista clinicas
    </div>
    <div class="col-4">
        mapa
    </div>
</div>


<div class="modal fade" id="modalEspecialidades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Ok</button>
            </div>
        </div>
    </div>
</div>

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = "R$ " + slider.value.toString().replace(".", ",");

    slider.oninput = function () {
        output.innerHTML = "R$ " + this.value.toString().replace(".", ",");
    }
</script>
@section scripts {

    @Scripts.Render("~/ScriptMed/Clinicas.js")

}