
@{
    ViewBag.Title = "Index";
}
<form class="form-inline" action="~/Minerar/listarPagina">
    <label class="sr-only" for="inlineFormInputName2">Localidade</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="procura_clinica" name="localidade" placeholder="Ex.: Rio de janeiro">


    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>