<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1c1c024f-ad0b-43cf-a7c0-8888c738c2ce/resourceGroups/MedList/providers/Microsoft.Web/sites/medlist</ResourceId>
    <ResourceGroup>MedList</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://medlist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>medlist.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>medlist</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$medlist</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MedListContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:medlist.database.windows.net,1433;Initial Catalog=MedList;Persist Security Info=False;User ID=admmed;Password=#raga1414;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:medlist.database.windows.net,1433;Initial Catalog=MedList;Persist Security Info=False;User ID=admmed;Password=#raga1414;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ListMed.Models.MedListContext, ListMed" MigrationConfiguration="ListMed.Migrations.Configuration, ListMed" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MedListContext-Web.config Connection String">
      <ParameterValue>Server=tcp:medlist.database.windows.net,1433;Initial Catalog=MedList;Persist Security Info=False;User ID=admmed;Password=#raga1414;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>